//dynamic content in h4e indiv. partial file
extends layout

block content
  .container-fluid
    a(href='/') Home Page
    h2 Full Contact Info #{title}
    h4 Item Name #{item.name}
    h4 Description #{item.desc}
    h4 Price #{item.price}
    h4 View This Item #{item.price}

block scripts
  script(src='js/main.js')
